@import url('https://fonts.googleapis.com/css?family=Germania One:300,400,400i,500');
body {
   background-color: RGB(213, 165, 115);
   color: RGB(5, 124, 138);
   font-family: 'Germania One', sans-serif;
   z-index: 1;
}

#s2_logout {
    width: 2em;
    height: 3em;
    margin-bottom: 0.4em;
}

.s2_li {
    color: red;
}

.s2_a {
    padding-bottom: 1em;
}

.s2_vari, #s2_info {
    z-index: 2;
    color: #8E0C0A;
}

#s2_info {
  font-size: 1.2em;
}

.s2_vari2 {
    z-index: 3;
    color: RGB(5, 124, 138);
}

.s2_valikko {
  border: 2px solid #8E0C0A;
  transition: all .5s ease;
  margin-top: 0.5em; 
  width: 20%;
  margin-left: 0.1em;
  background-color: rgb(206, 146, 86);
}

.s2_valikko ul, .s2_valikko li {
  list-style-type: none;
}

.s2_valikko ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 2em;
  font-size: 1.5em;
  color: green;
  padding-left: 0em;
  box-sizing: border-box;
  transition: .4s;
}

ul li:hover a{
  padding-left: 0.5em;
  color: red;
  background-color: RGB(213, 165, 115);
}

