@import url('https://fonts.googleapis.com/css?family=Germania One:300,400,400i,500');
body {
   background-color: RGB(213, 165, 115);
   color: RGB(5, 124, 138);
   font-family: 'Germania One', sans-serif;
   z-index: 1;
}

.s3_h1 {
    color: #8E0C0A;
    z-index: 2;
    margin-left: 0.5em;
}

.s3_valikko {
  border: 2px solid #8E0C0A;
  transition: all .5s ease;
  margin-top: 0.5em; 
  width: 20%;
  margin-left: 0.1em;
  background-color: rgb(206, 146, 86);
}

.s3_valikko ul, .s3_valikko li {
  list-style-type: none;
}

.s3_valikko ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 2em;
  font-size: 1.5em;
  color: green;
  padding-left: 0em;
  box-sizing: border-box;
  transition: .4s;
}

ul li:hover a{
  padding-left: 0.5em;
  color: red;
  background-color: RGB(213, 165, 115);
}

